@media only screen and (max-width:360px) {
    .header {
        display: none;
    }

    .profile-pic {
        height: 200px;
        margin-top: -10px;
    }

    .home-info {
        max-width: 100%;
    }

    h1 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 80%;
    }

    .info-prof {
        margin-top: 20px;
    }

    .prof {
        margin-top: 15px;
    }

    .gallery {
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    }

    .card {
        max-width: 280px;
        margin: 3%;
    }

    .future {
        max-width: 280px;
        margin: 3%;
    }

    .footer {
        background-color: none;
        padding-top: 0;
    }

    .fancy span:before {
        display: none;
    }

    .fancy span:after {
        display: none;
    }

}

@media only screen and (max-width: 480px) {
    .header {
        display: none;
    }

    h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 90%;
    }

    .prof {
        margin-top: 20px;
    }

    .fancy span:before {
        display: none;
    }

    .fancy span:after {
        display: none;
    }

    .gallery {
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    }

    .card {
        max-width: 325px;
        margin: 3%;
    }

    .future {
        max-width: 325px;
        margin: 3%;
    }

    .footer {
        background-color: none;
        padding: 0;
    }

    .contact {
        width: 100%;
    }

    .footer p {
        font-size: 10px;

    }

}

@media only screen and (max-width: 600px) {
    .header {
        display: none;
    }

    h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 90%;
    }

    .gallery {
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    }

    .fancy span:before,
    .fancy span:after {
        width: 120px;
    }

    .footer {
        background-color: none;
        padding: 0;
    }

    .contact {
        width: 100%;
    }

    .footer p {
        font-size: 11px;

    }

}

/* @media only screen and (min-width: 768px) {

    .profile-pic {
        height: 250px;
    }

    h1 {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .home-info {
        max-width: 100%;
        text-align: center;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 90%;
        margin-top: 10px;
    }

    .gallery {
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    }

    .gallery img {
        height: auto;
        width: 100%;
        object-fit: contain;
    }

    .card {
        max-width: 350px;
        margin: 3%;
    }

    .future {
        max-width: 350px;
        margin: 3%;
    }

    .contact {
        width: 100%;
    }

    .footer {
        background-color: none;
        padding-top: 0;
    }

    .footer p {
        text-align: center;
        font-size: 12px;
    }

} */